@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    list-style: none;
    text-decoration: none;
}
body {
    background-color: black;
}

header{
    height: 90px;
    display: flex;
    justify-content:space-around;
    align-items: center;    
}

section {
    padding: 2rem 9%;    
}

nav{
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;    
}

li a{
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li a:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url('../img/Banner.png');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thomor Pro', sans-serif;
    width: 70%;
    text-align: justify;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin-top: 25px;
}
.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}
.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thomor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {
    background-image: url(../img/Post-Cat.png);
}

.banner-2 {
    background-image: url(../img/Post-Joker.png);
}
.banner-3 {
    background-image: url(../img/Pos-Alerq.png);
}

.banner-4 {
    background-image: url(../img/Post-Jame.png);
}

.banner-5 {
    background-image: url(../img/Post-Batman.png);
}

.banner-6 {
    background-image: url(../img/Pos-Alfrad.png);
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/Bg-01.png);
    background-size: cover;    
}

.back {
    width: 770px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;

}

.contact .content1 {
    max-width: 90%;
    text-align: center;    
}

.contact .content1 h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content1 p {
    font-weight: 300;
    color: #fff;
    text-align: justify;
}

.container {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;    
}

.container .contactInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;    
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;   
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    width: 90%;
    height: 300px;
}

.contactForm h2 {
    font-size: 30px;
    font-weight: 500;
    color: #333;    
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
   
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;    
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #333;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
} 

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}    

.review .box-container {   
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;   
}

.review .box-container .box {
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}

.review .box-container .box img {
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin: 1rem 0;
}

.review .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.review .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.review .box-container .box .stars i {
    font-size: 2rem;
    color: var(--orange);
    padding: 0.5rem 0;
}

.newsletter {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.newsletter .content {
    text-align: center;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}

.newsletter .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.newsletter .content p {
    font-size: 1.5rem;
    color: #666;
    margin: 1rem auto;
    max-width: 60rem;
}

.newsletter .content form {
    margin: 1rem auto;
    max-width: 50rem;
    display: flex;
}

.newsletter .content form .box {
    width: 100%;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
    padding: 1rem;
    border: .2rem solid var(--black);
    border-right: none;
    margin-top: 1rem;
}

.newsletter .content form .btn {
    border-radius: 0;
}




footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thomor Pro', sans-serif;
}
.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
        
    }

    .container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }
    
    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

}